@font-face {
  font-family: "Head1";
  src:
    url("/fonts/head1.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Head2";
  src:
    url("/fonts/head2.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
